---
import siteConfig from "../site.config";
import SiteIdentity from "./SiteIdentity.astro";
import InstagramIcon from "../icons/Instagram.astro";
import FacebookIcon from "../icons/Facebook.astro";
import TiktokIcon from "../icons/Tiktok.astro";
import LinkedinIcon from "../icons/Linkedin.astro";

const currentYear = new Date().getFullYear();
---

<footer class="kanit-light text-xs sm:text-sm">
  <div
    class="footer-primary flex flex-col items-center justify-center min-w-full border-t border-gray-500/50"
  >
    <div
      class="flex flex-row items-center justify-around sm:justify-center gap-6 sm:gap-10 pt-8 pb-6 sm:px-6 text-center"
    >
      <a href="https://www.instagram.com/uamotors.fsae/" target="_blank" title="Instagram" class="hover:text-space-red dark:hover:text-space-yellow transition-colors hover:scale-110 transform duration-200">
        <InstagramIcon class="w-8 h-8 sm:w-10 sm:h-10" />
      </a>
      <a href="https://www.facebook.com/uamotors" target="_blank" title="Facebook" class="hover:text-space-red dark:hover:text-space-yellow transition-colors hover:scale-110 transform duration-200">
        <FacebookIcon class="w-8 h-8 sm:w-10 sm:h-10" />
      </a>
      <a href="https://www.tiktok.com/@uamotors.fsae" target="_blank" title="TikTok" class="hover:text-space-red dark:hover:text-space-yellow transition-colors hover:scale-110 transform duration-200">
        <TiktokIcon class="w-8 h-8 sm:w-10 sm:h-10" />
      </a>
      <a href="https://www.linkedin.com/company/uamotors/" target="_blank" title="LinkedIn" class="hover:text-space-red dark:hover:text-space-yellow transition-colors hover:scale-110 transform duration-200">
        <LinkedinIcon class="w-8 h-8 sm:w-10 sm:h-10" />
      </a>
    </div>
  </div>
  <div
    class="footer-secondary flex flex-col sm:flex-row items-center justify-center gap-6 min-w-full pb-4"
  >
    <div class="flex flex-row gap-2 items-center justify-center text-balance opacity-80">
      <span>&copy; {currentYear}</span>
      {siteConfig.title}. Todos los derechos reservados.
    </div>
  </div>
  <div
    class="footer-identity h-40 sm:h-18 text-center overflow-clip sticky bottom-0 items-end"
  >
    <span
      class="sigmar-ff text-8xl sm:text-[6.5rem] leading-none text-whitesmoke/50 dark:text-gray-300/30"
      >{siteConfig.title}</span
    >
  </div>
</footer>
