---
const {
  activePage,
  links,
  isMobileLink = false,
} = Astro.props as {
  activePage: string;
  links: { text: string; href: string }[];
  isMobileLink?: boolean;
};
---

{
  links?.map((link) => {
    const cleanActive = activePage ? activePage.toLowerCase().replace(/\s+/g, "-") : "";
    const cleanHref = link.href.replace(/\/$/, "");
    const isActive = activePage 
      ? (activePage === link.text.toLowerCase() || cleanHref.endsWith("/" + cleanActive))
      : false;
    const classNames = [
      isMobileLink ? "close-menu text-2xl py-1 font-normal" : "whitespace-nowrap",
      isActive ? "text-space-red! dark:text-space-yellow!" : "",
    ]
      .join(" ")
      .trim();
    return (
      <a class={classNames} href={link.href}>
        {link.text}
      </a>
    );
  })
}
